<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="static/img/icon 3.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/css.css">
        <title>کيو آر کد ساز</title>
    </head>
    <body class="bg-success-subtle">
        <div class="top-menu bg-success">
            <div class="cr">
                <div class="top-right">
                <ul>
                    <li>
                        0912
                    </li>
                    <li>
                        samin.90.shojaei@gmail.com
                    </li>
                </ul>
                </div>
                <div class="top-left">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <header class="header fl-r bg-success-subtle mb-1">
            <div class="container">
                <div class="container-fluied">
                    <nav id="navbar" class="navbar navbar-expand-md text-center">
                        <img src="../static/img/icon.png" alt="لوگو سایت" width="60" height="54">
                        <ul class="navbar-nav">
                            <li class="nav-item ffy"><a href="/" class="nav-link fs-5 ml">صفحه اصلی</a></li>
                            <li class="nav-item ffy"><a href="/what-is-qr" class="nav-link ml fs-5">QR چیست</a></li>
                            <li class="nav-item ffy"><a href="/q-and-a" class="nav-link fs-5 active">سوالات متداول</a></li>
                        </ul>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>
            </div>
        </header>
        <center>
            <img src="../static/img/560.webp" alt="" class="w-f rounded rounded-4 mb-3">
            <h1>سوالات متداول</h1>
        </center>
        <div class="mt-4 accordion mb-5" id="q">
            <div class="accordion-item bsb">
              <h3 class="accordion-header">
                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#one">مزایای کدهای QR چیست؟</button>
              </h3>
              <div class="accordion-collapse collapse show" data-bs-parent="#q" id="one">
                <div class="accordion-body">
                    <p>
                        پرداخت راحت با کدهای QR

                        کدهای QR طوری طراحی شده اند که بهتر از بارکدها کار کنند.
                        
                        آنها می توانند اطلاعات بیشتری نسبت به بارکد داشته باشند .
                        
                        بارکدها فقط می‌توانند حاوی یک رشته اطلاعات متشکل از اعداد باشند، که آنها را در محیط‌هایی مانند خرده‌فروشی‌ها مفید می‌سازد، زیرا در شناسایی محصولی که کد به آن شماره اختصاص داده شده، سریع و دقیق هستند. نکته منفی این است که این تنها کاری است که آنها می توانند انجام دهند!
                        
                        یک کد QR می‌تواند حاوی اطلاعات بسیار بیشتری از انواع مختلف (مانند کلمات و نمادها)، تقریباً در همان فضای بارکد باشد، و ایجاد و چاپ آن آسان است.
                        
                            خطای کمتر
                        
                        آیا تا به حال برای شما پیش آمده است که کالایی را بخرید که وقتی برای پرداخت هزینه آن می روید تعجب کنید که بارکد خطا دارد و دستگاه یک کالای کاملاً متفاوت را به شما نشان می دهد؟! بسیار نادر است. اگر خطایی در خوانش رخ دهد به احتمال زیاد آن کالا اصل نیست.
                        
                            قابل خواندن
                        
                        یک بارکد برای خواندن و درک محتوای آن به فناوری‌های خاصی نیاز دارد و در مقابل یک کد QR می‌تواند به راحتی توسط تلفن‌های هوشمند و دوربین‌های دیجیتال خوانده و درک شود، و این باعث می‌شود برای مواردی مانند کمپین‌های بازاریابی با هدف مصرف‌کنندگان مفیدتر باشد.
                        
                            آسان برای چاپ
                        
                        مانند بارکد، کد QR فقط باید به صورت سیاه و سفید چاپ شود (اگرچه می توان از هر رنگ یا چند رنگ دیگری استفاده کرد).
                        
                            ایمن
                        
                        رمزگذاری اطلاعات درون اطلاعات به کدهای QR امکان پذیر است و سطح بالاتری از محافظت را فراهم می کند.
                    </p>
                </div>
            </div>
            </h3>
            </div>
            <div class="accordion-item bsb">
              <h3 class="accordion-header">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#two">چگونه می توانم یک کد QR را در دستگاه iPhone، iPad یا Android بخوانم؟</button>
              </h3>
              <div class="accordion-collapse collapse" data-bs-parent="#guide" id="two">
                <div class="accordion-body">
                    <p>
                        اکثر گوشی‌های هوشمند دارای کدخوان QR داخلی هستند و برخی از گوشی‌های جدیدتر موجود در بازار (مانند گوگل پیکسل و آیفون‌های پرچمدار) حتی دارای یک کدخوان QR در دوربین گوشی هستند.

نحوه استفاده از کدهای QR

برخی تبلت ها (مانند اپل آیپد) همچنین دارای کدخوان QR در دوربین خود هستند.

برخی از دستگاه های قدیمی ممکن است برای خواندن کدهای QR به برنامه خاصی نیاز داشته باشند و این برنامه ها به وفور در فروشگاه اپل اپ و گوگل پلی نیز موجود هستند.

خواندن یک کد QR در تلفن بسیار آسان است.

برنامه خواننده کد QR یا دوربین گوشی هوشمند خود را باز کنید.

دوربین را به سمت کد QR بگیرید. طبیعتا برای گرفتن دوربین از هر زاویه ای مشکلی نخواهید داشت و بدون هیچ مشکلی کد را می خواند.

داده های کد بلافاصله روی صفحه ظاهر می شوند. به عنوان مثال: اگر یک کد QR حاوی اطلاعات تماس شخصی باشد، آن اطلاعات در چند لحظه در گوشی شما دانلود می شود.
                    </p>
                </div>
              </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>